* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('/assets/images/background-login.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/background-login.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px); 
    z-index: -1;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 220px; 
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: red; 
}

.login-form label {
    color: red; 
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px; 
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100px;
    align-self: center;
}

.login-form button:hover {
    background-color:red;
}
